In [1]:
%run analyze_occ.py

In [2]:
import numpy as np
import matplotlib.pyplot as plt
# Make the graphs a bit prettier, and bigger
pd.set_option('display.mpl_style', 'default')
plt.rcParams['figure.figsize'] = (15, 5)

In [3]:
occ['total'] = occ[occ.columns[2:]].sum(axis=1)
occ.head()

,qid,transgender female,intersex,fa'afafine,transgender,American football player,Gender fluid,sociologist,transgender male,female creature,male creature,woman,genderqueer,female,male,kathoey,occupation,category,total
0,Q4249459,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Qutb,Qutb,1
1,Q12878771,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,None,unclassified,1
2,Q801,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Israel,Israel,1
3,Q1327130,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,Electronics technician,Electronics technician,1
4,Q1371796,0,0,0,0,0,0,0,0,0,0,0,0,0,24,0,gunsmith,gunsmith,24

In [4]:
occ.describe()

,transgender female,intersex,fa'afafine,transgender,American football player,Gender fluid,sociologist,transgender male,female creature,male creature,woman,genderqueer,female,male,kathoey,total
count,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000,3952.000000
mean,0.045294,0.003036,0.000253,0.000759,0.000253,0.001518,0.000253,0.010881,0.001265,0.000253,0.000759,0.005061,75.543775,424.615385,0.000759,500.184211
std,0.880466,0.059449,0.015907,0.027545,0.015907,0.038940,0.015907,0.137347,0.042073,0.015907,0.027545,0.095321,1079.789199,5132.309051,0.027545,5878.593569
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,2.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,11.000000,0.000000,14.000000
max,49.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,4.000000,2.000000,1.000000,1.000000,4.000000,53855.000000,224573.000000,1.000000,249621.000000

In [5]:
category_wise_data = occ.groupby('category').aggregate(sum)
category_wise_data.loc[:, 'male/female ratio'] = category_wise_data.male/category_wise_data.female
category_wise_data.loc[:, 'female/male ratio'] = 1/category_wise_data['male/female ratio']

In [6]:
category_wise_data.describe()

,transgender female,intersex,fa'afafine,transgender,American football player,Gender fluid,sociologist,transgender male,female creature,male creature,woman,genderqueer,female,male,kathoey,total,male/female ratio,female/male ratio
count,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1568.000000,1553.000000,1553.000000
mean,0.114158,0.007653,0.000638,0.001913,0.000638,0.003827,0.000638,0.027423,0.003189,0.000638,0.001913,0.012755,190.401148,1070.204082,0.001913,1260.668367,inf,inf
std,3.184656,0.147102,0.025254,0.043713,0.025254,0.128754,0.025254,0.586935,0.091027,0.025254,0.056455,0.480470,4908.910210,21794.852528,0.043713,26471.563072,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,10.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,NaN,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,4.000000,NaN,0.100000
max,125.000000,5.000000,1.000000,1.000000,1.000000,5.000000,1.000000,22.000000,3.000000,1.000000,2.000000,19.000000,187389.000000,710178.000000,1.000000,897626.000000,inf,inf

In [7]:
category_wise_data.sort(['total', 'male/female ratio'], ascending=False).iloc[:, :].sum()

transgender female          1.790000e+02
intersex                    1.200000e+01
fa'afafine                  1.000000e+00
transgender                 3.000000e+00
American football player    1.000000e+00
Gender fluid                6.000000e+00
sociologist                 1.000000e+00
transgender male            4.300000e+01
female creature             5.000000e+00
male creature               1.000000e+00
woman                       3.000000e+00
genderqueer                 2.000000e+01
female                      2.985490e+05
male                        1.678080e+06
kathoey                     3.000000e+00
total                       1.976728e+06
male/female ratio                    inf
female/male ratio                    inf
dtype: float64

In [8]:
cat_sorted = category_wise_data.sort('total', ascending=False)

In [25]:
# male to female ration in the population
female = cat_sorted['female']
male = cat_sorted['male']
(male/female)

category
creator                          3.789860
sportsperson                     9.722861
politician                       8.973691
manager                          9.157455
worker                          14.499228
religious servant               53.686441
jurist                          14.570555
health care provider             6.730022
entrepreneur                    10.371545
warrior                         72.380952
unclassified                     4.697966
media professional               1.840964
translators and interpreters     3.758454
model                            0.115671
businessperson                  13.120000
activist                         4.084746
researcher                      20.792952
title of authority              28.035714
publisher                       14.178138
leader                          25.576923
cineaste                        19.459627
female creature                  0.000312
librarian                        6.082589
artisan                         38.500000
legislator                      14.702564
aviator                         13.467066
social group                     6.262458
cook                             3.791798
jinete                          29.347826
sailor                          25.215686
                                  ...
Robert Bosch GmbH                0.000000
Roadie                                inf
Rich                                  inf
Rende                                 inf
Rejoneador                            inf
Regidor                               inf
Recorder                              inf
Monologist                            inf
Rat-catcher                           inf
Rapper                                inf
Rall                                  inf
Radio suisse romande                  inf
Rachelle Ferrell                 0.000000
Race engineer                         inf
Qutb                                  inf
Ancient Greek art                     NaN
mime                                  NaN
Elkalyce hugelii                      NaN
Apulian vase painting                 NaN
Music writer                          NaN
warlord                               NaN
noun                                  NaN
POR                                   NaN
Japan Coast Guard Officer             NaN
Ventriloquist                         NaN
keirin cyclist                        NaN
Human Rights Commissioner             NaN
Produzent                             NaN
Cosplay                               NaN
computer engineering                  NaN
dtype: float64

In [10]:
cat_sorted.iloc[:, [0, 12, 13, 15, 16]]

,transgender female,female,male,total,male/female ratio
category,,,,,
creator,125,187389,710178,897626,3.789860
sportsperson,4,44079,428574,472661,9.722861
politician,8,25048,224773,249823,8.973691
manager,5,4306,39432,43741,9.157455
worker,1,2590,37553,40146,14.499228
religious servant,0,708,38010,38718,53.686441
jurist,1,2289,33352,35643,14.570555
health care provider,4,3604,24255,27862,6.730022
entrepreneur,4,2207,22890,25099,10.371545
warrior,2,294,21280,21575,72.380952
unclassified,1,2950,13859,16810,4.697966
media professional,2,5351,9851,15203,1.840964
translators and interpreters,0,1863,7002,8865,3.758454
model,11,5507,637,6147,0.115671
businessperson,0,400,5248,5648,13.120000
activist,3,1003,4097,5107,4.084746
researcher,0,227,4720,4950,20.792952
title of authority,0,168,4710,4878,28.035714
publisher,0,247,3502,3749,14.178138
leader,0,130,3325,3455,25.576923
cineaste,1,161,3133,3294,19.459627
female creature,1,3209,1,3210,0.000312
librarian,0,448,2725,3173,6.082589
artisan,0,80,3080,3160,38.500000
legislator,0,195,2867,3062,14.702564
aviator,0,167,2249,2416,13.467066
social group,0,301,1885,2186,6.262458
cook,0,317,1202,1519,3.791798
jinete,0,46,1350,1396,29.347826
sailor,0,51,1286,1338,25.215686
...,...,...,...,...,...
Robert Bosch GmbH,0,1,0,1,0.000000
Roadie,0,0,1,1,inf
Rich,0,0,1,1,inf
Rende,0,0,1,1,inf
Rejoneador,0,0,1,1,inf
Regidor,0,0,1,1,inf
Recorder,0,0,1,1,inf
Monologist,0,0,1,1,inf
Rat-catcher,0,0,1,1,inf
Rapper,0,0,1,1,inf
Rall,0,0,1,1,inf
Radio suisse romande,0,0,1,1,inf
Rachelle Ferrell,0,1,0,1,0.000000
Race engineer,0,0,1,1,inf
Qutb,0,0,1,1,inf
Ancient Greek art,0,0,0,0,NaN
mime,0,0,0,0,NaN
Elkalyce hugelii,0,0,0,0,NaN
Apulian vase painting,0,0,0,0,NaN
Music writer,0,0,0,0,NaN
warlord,0,0,0,0,NaN
noun,0,0,0,0,NaN
POR,0,0,0,0,NaN
Japan Coast Guard Officer,0,0,0,0,NaN
Ventriloquist,1,0,0,0,NaN
keirin cyclist,0,0,0,0,NaN
Human Rights Commissioner,0,0,0,0,NaN
Produzent,0,0,0,0,NaN
Cosplay,0,0,0,0,NaN
computer engineering,0,0,0,0,NaN

In [36]:
category_wise_data.sort('male', ascending=False).iloc[:, [12, 13, 14, 15, 16]].head()

                   female    male  kathoey   total  male/female ratio
category
creator            187389  710178        1  897626           3.789860
sportsperson        44079  428574        1  472661           9.722861
politician          25048  224773        0  249823           8.973691
manager              4306   39432        0   43741           9.157455
religious servant     708   38010        0   38718          53.686441

In [37]:
category_wise_data.sort('female', ascending=False).iloc[:, [12, 13, 14, 15, 16]].head()

                    female    male  kathoey   total  male/female ratio
category
creator             187389  710178        1  897626           3.789860
sportsperson         44079  428574        1  472661           9.722861
politician           25048  224773        0  249823           8.973691
model                 5507     637        1    6147           0.115671
media professional    5351    9851        0   15203           1.840964

In [30]:
category_wise_data[category_wise_data['male/female ratio'] < np.inf].sort('male/female ratio', ascending=False).iloc[:, [ 12, 13, 15, 16]][:50]

                                       female   male  total  male/female ratio
category
chess composer                              1    283    284         283.000000
builder                                     1    208    209         208.000000
canon                                       1    193    194         193.000000
matador                                     1    173    174         173.000000
muhaddith                                   1    144    145         144.000000
Prince                                      1     98     99          98.000000
forester                                    1     80     81          80.000000
media scholar                               1     75     76          75.000000
warrior                                   294  21280  21575          72.380952
metallurgist                                9    647    656          71.888889
printer                                     6    424    430          70.666667
religious servant                         708  38010  38718          53.686441
torero                                      2     78     80          39.000000
artisan                                    80   3080   3160          38.500000
conservator                                 1     38     39          38.000000
financier                                  13    481    494          37.000000
beekeeper                                   3    111    114          37.000000
ice cross downhiller                        1     36     37          36.000000
palaeographer                               1     34     35          34.000000
treasurer                                   1     32     33          32.000000
dean                                        1     32     33          32.000000
Tonmeister                                  1     31     32          31.000000
gunfighter                                  1     30     31          30.000000
typesetter                                  1     30     31          30.000000
scout                                       1     30     31          30.000000
bibliophile                                 1     30     31          30.000000
jinete                                     46   1350   1396          29.347826
title                                       7    200    207          28.571429
criminal                                    7    199    206          28.428571
title of authority                        168   4710   4878          28.035714
antiquarian seller                          3     84     87          28.000000
butcher                                     1     28     29          28.000000
executioner                                 3     84     87          28.000000
player                                      3     83     86          27.666667
leader                                    130   3325   3455          25.576923
sailor                                     51   1286   1338          25.215686
statutory auditor                           1     23     24          23.000000
bookseller                                  9    205    214          22.777778
president and chief executive officer       3     68     71          22.666667
law librarian                               2     45     47          22.500000
governor                                    1     21     22          21.000000
researcher                                227   4720   4950          20.792952
bank teller                                 2     40     42          20.000000
urban planner                              13    259    272          19.923077
cineaste                                  161   3133   3294          19.459627
drug trafficker                            17    329    346          19.352941
cantor                                      5     96    101          19.200000
position of authority                      33    631    664          19.121212
advisor                                     6    113    119          18.833333
agronomist                                 13    243    256          18.692308

In [38]:
fm = category_wise_data[category_wise_data['female/male ratio'] < np.inf]
#fm.head()
fm = fm[fm['total'] > 10]
fm.sort('female/male ratio', ascending=False).iloc[:, [0, 12, 13, 15, 17]].head(15)

,transgender female,female,male,total,female/male ratio
category,,,,,
female creature,1,3209,1,3210,3209.000000
salon-holder,0,357,10,367,35.700000
cosplayer,0,11,1,12,11.000000
model,11,5507,637,6147,8.645212
flight attendant,0,19,3,22,6.333333
Swimmer,0,9,2,11,4.500000
public figure,0,103,31,134,3.322581
godparent,0,21,10,31,2.100000
wardrobe stylist,0,42,29,71,1.448276
weaver,0,9,7,16,1.285714
child,0,96,84,180,1.142857
nobility,0,7,7,14,1.000000
colorist,0,7,7,14,1.000000
Academic rank in France,0,7,7,14,1.000000
secretary,0,28,29,57,0.965517

In [13]:
# Pearsons' correlation coefficient between number of male and female people
# working in top occupations.

plt.plot(list(range(1, 100, 10)),
         [np.corrcoef(cat_sorted['male'][:x], cat_sorted['female'][:x])[0,1] for x in range(1, 100, 10)])

/home/vivekrai/.miniconda/lib/python2.7/site-packages/numpy/lib/function_base.py:1890: RuntimeWarning: Degrees of freedom <= 0 for slice
  warnings.warn("Degrees of freedom <= 0 for slice", RuntimeWarning)

In [14]:
# Occupation qids which exist as deleted item in Wikidata entry

len([qid for qid in ids_dict if not ids_dict[qid]])

3

In [15]:
# Unclassified data
# That is, the data which has not been categorized among the categories
# generated in the script.

print len(unclassified)
unclassified.head()

505

,qid,transgender female,intersex,fa'afafine,transgender,American football player,Gender fluid,sociologist,transgender male,female creature,male creature,woman,genderqueer,female,male,kathoey,occupation,category
1,Q12878771,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,None,unclassified
5,Q3406834,0,0,0,0,0,0,0,0,0,0,0,0,3,2,0,None,unclassified
21,Q13006495,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,None,unclassified
33,Q6102247,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,None,unclassified
34,Q15793002,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,None,unclassified

In [16]:
# These nodes have either no title or are entries corresponding
# to a deleted Wikidata item.
# They may or may not have subclasses_of entry.

# Possible area for improvement by Wikidata community.
null_nodes = [node for node in DG.nodes() if node[1] == 'null']
len(null_nodes)

553

In [17]:
# These nodes have no subclass entry.

# Possible area for improvement by Wikidata community.
no_edges = [node for node in DG.nodes() if DG.degree(node) == 0]
len(no_edges)

1812

In [18]:
occ.qid[1]

'Q12878771'

In [19]:
abc = []
for node in DG.nodes():
    abc.append([len(DG.successors(node)), len(DG.predecessors(node)), node])

In [20]:
def _sort(x,y):
    if x[0] == y[0]:
        if x[1] >= y[1]:
            return 1
        else:
            return -1
    elif x[0] > y[0]:
        return -1
    else:
        return 1
    
abc.sort(_sort, reverse=True)

In [21]:
abc

[[0, 91, (u'Q2066131', u'sportsperson')],
 [0, 41, (u'Q18536342', u'competitive player')],
 [0, 30, (u'Q1294787', u'artisan')],
 [0, 19, (u'Q15220429', u'health care provider')],
 [0, 18, (u'Q349', u'sport')],
 [0, 13, (u'Q15995941', u'religious servant')],
 [0, 13, (u'Q43845', u'businessperson')],
 [0, 12, (u'Q185351', u'jurist')],
 [0, 12, (u'Q2159907', u'criminal')],
 [0, 11, (u'Q4610556', u'model')],
 [0, 11, (u'Q131524', u'entrepreneur')],
 [0, 10, (u'Q82955', u'politician')],
 [0, 10, (u'Q45199', u'sailor')],
 [0, 10, (u'Q15980804', u'media professional')],
 [0, 10, (u'Q17291399', u'film crew member')],
 [0, 9, (u'Q327055', u'worker')],
 [0, 9, (u'Q735', u'art')],
 [0, 9, (u'Q15253558', u'activist')],
 [0, 9, (u'Q131512', u'farmer')],
 [0, 8, (u'Q1250916', u'warrior')],
 [0, 8, (u'Q2095549', u'aviator')],
 [0, 8, (u'Q2500638', u'creator')],
 [0, 6, (u'Q1650915', u'researcher')],
 [0, 6, (u'Q82604', u'design')],
 [0, 6, (u'Q352388', u'driver')],
 [0, 6, (u'Q2994387', u'advisor')],
 [0, 6, (u'Q11028', u'information')],
 [0, 6, (u'Q39546', u'tool')],
 [0, 5, (u'Q9352089', u'spy')],
 [0, 5, (u'Q7991', u'natural science')],
 [0, 5, (u'Q685433', u'salesperson')],
 [0, 4, (u'Q355567', u'royal or noble rank')],
 [0, 4, (u'Q5891', u'philosophy')],
 [0, 4, (u'Q286583', u'manifestation')],
 [0, 4, (u'Q974144', u'educator')],
 [0, 4, (u'Q1221126', u'Dienststellung')],
 [0, 3, (u'Q3243461', u'collector')],
 [0, 3, (u'Q2462658', u'manager')],
 [0, 3, (u'Q842782', u'detective')],
 [0, 3, (u'Q1622217', u'figurative art')],
 [0, 3, (u'Q326653', u'accountant')],
 [0, 3, (u'Q12859263', u'orator')],
 [0, 3, (u'Q874405', u'social group')],
 [0, 3, (u'Q80083', u'humanities')],
 [0, 3, (u'Q1196129', u'spouse')],
 [0, 3, (u'Q4026292', u'action')],
 [0, 3, (u'Q11030', u'journalism')],
 [0, 3, (u'Q2518689', u'healer')],
 [0, 3, (u'Q18576582', u'metallurgist')],
 [0, 2, (u'Q173799', u'entertainment')],
 [0, 2, (u'Q2920921', u'management')],
 [0, 2, (u'Q601401', u'trade')],
 [0, 2, (u'Q1328323', u'functionary')],
 [0, 2, (u'Q780687', u'rights')],
 [0, 2, (u'Q48282', u'student')],
 [0, 2, (u'Q77590', u'civil engineering')],
 [0, 2, (u'Q18593264', u'item of collections or exhibitions')],
 [0, 2, (u'Q843601', u'health science')],
 [0, 2, (u'Q6386271', u'media scholar')],
 [0, 2, (u'Q2747456', u'Prince')],
 [0, 2, (u'Q4197743', u'player')],
 [0, 2, (u'Q5371079', u'emic unit')],
 [0, 2, (u'Q3245975', u'finished good')],
 [0, 2, (u'Q524778', u'Commissioner')],
 [0, 2, (u'Q213051', u'non-fiction')],
 [0, 2, (u'Q9394993', u'skater')],
 [0, 2, (u'Q15622636', u'historical source')],
 [0, 2, (u'Q132050', u'governor')],
 [0, 2, (u'Q937228', u'property')],
 [0, 2, (u'Q4189293', u'title')],
 [0, 2, (u'Q15621286', u'intellectual work')],
 [0, 2, (u'Q12797895', u'occultist')],
 [0, 2, (u'Q11631', u'astronaut')],
 [0, 2, (u'Q1251441', u'leader')],
 [0, 2, (u'Q156839', u'cook')],
 [0, 2, (u'Q11862829', u'academic discipline')],
 [0, 2, (u'Q337060', u'perceptible object')],
 [0, 2, (u'Q478798', u'image')],
 [0, 2, (u'Q1069', u'geology')],
 [0, 2, (u'Q2996394', u'biological process')],
 [0, 2, (u'Q15989253', u'part')],
 [0, 2, (u'Q6503343', u'law enforcement officer')],
 [0, 2, (u'Q11997597', u'representative')],
 [0, 2, (u'Q10384029', u'drug trafficker')],
 [0, 2, (u'Q7922', u'pedagogy')],
 [0, 2, (u'Q7569', u'child')],
 [0, 2, (u'Q2668072', u'collection')],
 [0, 2, (u'Q10729326', u'pirate')],
 [0, 2, (u'Q186506', u'mezzo-soprano')],
 [0, 2, (u'Q43115', u'saint')],
 [0, 2, (u'Q1790480', u'translators and interpreters')],
 [0, 2, (u'Q2431196', u'audiovisual work')],
 [0, 2, (u'Q35758', u'matter')],
 [0, 2, (u'Q59950', u'urbanism')],
 [0, 2, (u'Q11023', u'engineering')],
 [0, 1, (u'Q211236', u'celebrity')],
 [0, 1, (u'Q163082', u'petrology')],
 [0, 1, (u'Q1071389', u'gold mining')],
 [0, 1, (u'Q2630707', 'null')],
 [0, 1, (u'Q499134', u'amanuensis')],
 [0, 1, (u'Q7867', u'psychiatry')],
 [0, 1, (u'Q820236', u'Mountain sport')],
 [0, 1, (u'Q196939', u'witness')],
 [0, 1, (u'Q771861', u'Eurasiatic languages')],
 [0, 1, (u'Q7208', u'pathology')],
 [0, 1, (u'Q1522168', u'Officer of the court')],
 [0, 1, (u'Q80962', u'animal husbandry')],
 [0, 1, (u'Q1005490', u'self-employment')],
 [0, 1, (u'Q31728', u'public administration')],
 [0, 1, (u'Q2357239', 'null')],
 [0, 1, (u'Q10296912', u'imaging method')],
 [0, 1, (u'Q6023923', u'List of Internet phenomena')],
 [0, 1, (u'Q19508445', u'geek culture')],
 [0, 1, (u'Q619851', u'gunfighter')],
 [0, 1, (u'Q2024200', u'telegraphist')],
 [0, 1, (u'Q1240788', u'supervisor')],
 [0, 1, (u'Q994779', u'delegate')],
 [0, 1, (u'Q1781198', u'agronomist')],
 [0, 1, (u'Q1364673', u'informant')],
 [0, 1, (u'Q795052', u'individual')],
 [0, 1, (u'Q5410500', u'faith')],
 [0, 1, (u'Q1487', u'hacker')],
 [0, 1, (u'Q931447', u'electrical load')],
 [0, 1, (u'Q42240', u'research')],
 [0, 1, (u'Q851782', u'tableware')],
 [0, 1, (u'Q275456', u'textual criticism')],
 [0, 1, (u'Q18121578', u'research director')],
 [0, 1, (u'Q12773225', u'slave')],
 [0, 1, (u'Q5390013', u'belief system')],
 [0, 1, (u'Q368758', u'white-collar worker')],
 [0, 1, (u'Q152478', u'sponsor')],
 [0, 1, (u'Q61002', u'pseudonym')],
 [0, 1, (u'Q1716019', u'Jewish music')],
 [0, 1, (u'Q1368409', u'breeder')],
 [0, 1, (u'Q132629', u'electrical circuit')],
 [0, 1, (u'Q628403', u'conservation')],
 [0, 1, (u'Q366732', u'Bible study')],
 [0, 1, (u'Q1714828', u'hunter')],
 [0, 1, (u'Q1517802', u'proxy')],
 [0, 1, (u'Q244741', u'viceroy')],
 [0, 1, (u'Q7566', u'parent')],
 [0, 1, (u'Q1931791', u'water tourism')],
 [0, 1, (u'Q1346967', u'epideictic')],
 [0, 1, (u'Q12644761', u'visitor')],
 [0, 1, (u'Q47844', u'landscape architecture')],
 [0, 1, (u'Q5340942', u'Education and Research Consortium')],
 [0, 1, (u'Q1818899', u'settler')],
 [0, 1, (u'Q303928', u'secretary')],
 [0, 1, (u'Q1862087', u'prisoner')],
 [0, 1, (u'Q437512', u'weaver')],
 [0, 1, (u'Q3320548', u'religious art')],
 [0, 1, (u'Q131062', u'urban planner')],
 [0, 1, (u'Q7895', u'reproductive system')],
 [0, 1, (u'Q3054575', 'null')],
 [0, 1, (u'Q6388', u'human swimming')],
 [0, 1, (u'Q211364', u'principle')],
 [0, 1, (u'Q80071', u'symbol')],
 [0, 1, (u'Q206989', u'shooting sport')],
 [0, 1, (u'Q3500606', u'musical structure')],
 [0, 1, (u'Q44311', u'jihad')],
 [0, 1, (u'Q4120621', u'rank')],
 [0, 1, (u'Q330679', u'cantor')],
 [0, 1, (u'Q5780518', u'communicator')],
 [0, 1, (u'Q925958', u'animal locomotion')],
 [0, 1, (u'Q11204', u'legislature')],
 [0, 1, (u'Q2730732', u'equestrian')],
 [0, 1, (u'Q107', u'space')],
 [0, 1, (u'Q1320883', u'talent manager')],
 [0, 1, (u'Q977459', u'flag officer')],
 [0, 1, (u'Q17379525', u'pottery ware')],
 [0, 1, (u'Q675316', 'null')],
 [0, 1, (u'Q14250007', u'combat technique')],
 [0, 1, (u'Q848466', u'courier')],
 [0, 1, (u'Q16746942', u'hypnotist')],
 [0, 1, (u'Q50641', u'history of art')],
 [0, 1, (u'Q840399', u'Champ Car')],
 [0, 1, (u'Q1900672', u'marketing tool')],
 [0, 1, (u'Q851587', u'business process')],
 [0, 1, (u'Q14300548', u'skating')],
 [0, 1, (u'Q23694', u'42')],
 [0, 1, (u'Q2883297', u'legal entity')],
 [0, 1, (u'Q15619164', u'abstract being')],
 [0, 1, (u'Q1747618', u'Ancient Greek art')],
 [0, 1, (u'Q3507602', 'null')],
 [0, 1, (u'Q2342494', u'collectable')],
 [0, 1, (u'Q1637030', u'food science')],
 [0, 1, (u'Q334166', u'mode of transport')],
 [0, 1, (u'Q778612', u'fin')],
 [0, 1, (u'Q205398', u'social work')],
 [0, 1, (u'Q15296531', u'position of authority')],
 [0, 1, (u'Q203066', u'relation')],
 [0, 1, (u'Q40821', u'surgery')],
 [0, 1, (u'Q182436', u'librarian')],
 [0, 1, (u'Q208165', u'collecting')],
 [0, 1, (u'Q2176252', u'Broadcast engineering')],
 [0, 1, (u'Q1084', u'noun')],
 [0, 1, (u'Q489119', u'hellenism')],
 [0, 1, (u'Q174834', u'authority')],
 [0, 1, (u'Q7430734', u'Scenario')],
 [0, 1, (u'Q44148', u'male creature')],
 [0, 1, (u'Q816264', u'formal science')],
 [0, 1, (u'Q662729', u'public figure')],
 [0, 1, (u'Q2030347', 'null')],
 [0, 1, (u'Q17538258', u'recreative work')],
 [0, 1, (u'Q7320446', u'rhetorical mode')],
 [0, 1, (u'Q1849974', u'Certified teacher')],
 [0, 1, (u'Q43445', u'female creature')],
 [0, 1, (u'Q381136', u'shareholder')],
 [0, 1, (u'Q16722960', u'phenomenon')],
 [0, 1, (u'Q15712714', u'biomolecular structure')],
 [0, 1, (u'Q3140857', u'horticulturist')],
 [0, 1, (u'Q1365155', u'jinete')],
 [0, 1, (u'Q4175034', u'legislator')],
 [0, 1, (u'Q3683504', u'conqueror')],
 [0, 1, (u'Q820037', u'miner')],
 [0, 1, (u'Q755070', u'naratteur')],
 [0, 1, (u'Q19816651', 'null')],
 [0, 1, (u'Q7501153', u'shopkeeper')],
 [0, 1, (u'Q170028', u'deception')],
 [0, 1, (u'Q1004', u'comic')],
 [0, 1, (u'Q6060450', u'skydiver')],
 [0, 1, (u'Q255632', 'null')],
 [0, 1, (u'Q9081', u'knowledge')],
 [0, 1, (u'Q17320256', u'physical process')],
 [0, 1, (u'Q1665984', u'interdisciplinary science')],
 [0, 1, (u'Q5962346', u'classification')],
 [0, 1, (u'Q2167061', u'Systems science')],
 [0, 1, (u'Q5004397', u'game designer')],
 [0, 1, (u'Q17573152', u'believer')],
 [0, 1, (u'Q968907', u'outdoor recreation')],
 [0, 1, (u'Q3320963', 'null')],
 [0, 1, (u'Q170475', u'oscillation')],
 [0, 1, (u'Q8011071', u'animal trainer')],
 [0, 1, (u'Q213156', u'performance art')],
 [0, 1, (u'Q2368525', u'Surgeon General')],
 [0, 1, (u'Q1512368', u'indefinite legal concept')],
 [0, 1, (u'Q2034021', u'dressmaker')],
 [0, 1, (u'Q134737', u'nobility')],
 [0, 1, (u'Q6765918', u'wrong')],
 [0, 1, (u'Q2695280', u'technics')],
 [0, 1, (u'Q17991810', u'corporate title')],
 [0, 1, (u'Q1292119', u'Style')],
 [0, 1, (u'Q15818142', 'null')],
 [0, 1, (u'Q625369', u'mistress')],
 [0, 1, (u'Q17221', u'spokesperson')],
 [0, 1, (u'Q2997362', u'Physical culture')],
 [0, 1, (u'Q15212951', u'cineaste')],
 [0, 1, (u'Q268378', u'labour')],
 [0, 1, (u'Q1395034', u'new product development')],
 [0, 1, (u'Q1746926', 'null')],
 [0, 1, (u'Q4119870', u'academic work')],
 [0, 1, (u'Q3683610', 'null')],
 [0, 1, (u'Q1151752', u'jumping')],
 [0, 1, (u'Q765633', u'aviation')],
 [0, 1, (u'Q702269', u'professional')],
 [0, 1, (u'Q514', u'anatomy')],
 [0, 1, (u'Q7810129', u'title of authority')],
 [0, 1, (u'Q2095', u'food')],
 [0, 0, (u'Q388338', u'treasurer')],
 [0, 0, (u'Q999646', u'driving')],
 [0, 0, (u'Q3285163', u'arts administration')],
 [0, 0, (u'Q1335366', u'neuroendocrinology')],
 [0, 0, (u'Q7691151', u'Teach')],
 [0, 0, (u'Q16516756', 'null')],
 [0, 0, (u'Q1396008', u'Matron')],
 [0, 0, (u'Q1181073', u'Navigator')],
 [0, 0, (u'Q552378', u'roofer')],
 [0, 0, (u'Q2338283', u'Soccer')],
 [0, 0, (u'Q184951', u'pasha')],
 [0, 0, (u'Q2735739', u'Priceminister')],
 [0, 0, (u'Q1816148', u'Chief engineer')],
 [0, 0, (u'Q239718', u'muezzin')],
 [0, 0, (u'Q1845', u'Bible')],
 [0, 0, (u'Q52106', u'biogeography')],
 [0, 0, (u'Q1616216', u'Labadists')],
 [0, 0, (u'Q1438738', 'null')],
 [0, 0, (u'Q1301778', 'null')],
 [0, 0, (u'Q5185059', u'cricketer')],
 [0, 0, (u'Q1802315', 'null')],
 [0, 0, (u'Q3363630', u'parapsychologist')],
 [0, 0, (u'Q2560507', 'null')],
 [0, 0, (u'Q20746658', 'null')],
 [0, 0, (u'Q18921227', u'ufologist')],
 [0, 0, (u'Q2388514', u'intelligence analysist')],
 [0, 0, (u'Q628764', u'Occupational medicine')],
 [0, 0, (u'Q16699822', 'null')],
 [0, 0, (u'Q2997813', u"King's Royal Rifle Corps")],
 [0, 0, (u'Q1581378', u'Steiger')],
 [0, 0, (u'Q2509280', u'advocacy')],
 [0, 0, (u'Q834316', u'Nazirite')],
 [0, 0, (u'Q6102247', 'null')],
 [0, 0, (u'Q884', u'South Korea')],
 [0, 0, (u'Q1924077', u'Exhibittion fitter')],
 [0, 0, (u'Q39809', u'marketing')],
 [0, 0, (u'Q3100877', 'null')],
 [0, 0, (u'Q1114438', u'Ealdorman')],
 [0, 0, (u'Q897511', u'cryptanalysis')],
 [0, 0, (u'Q5607596', u'Gresham Professor of Music')],
 [0, 0, (u'Q16829930', u'Comic Book Artist')],
 [0, 0, (u'Q18186340', 'null')],
 [0, 0, (u'Q12877215', 'null')],
 [0, 0, (u'Q953045', u'metalwork')],
 [0, 0, (u'Q3610436', u'personal stylist')],
 [0, 0, (u'Q18972771', u'rancher')],
 [0, 0, (u'Q15980319', u'fast talker')],
 [0, 0, (u'Q12961474', u'anarchist')],
 [0, 0, (u'Q4947379', u'Bosniak Academy of Sciences and Arts')],
 [0, 0, (u'Q10830299', 'null')],
 [0, 0, (u'Q721834', u'manager (professional wrestling)')],
 [0, 0, (u'Q225648', u'FI')],
 [0, 0, (u'Q15113603', u'municipal councillor')],
 [0, 0, (u'Q1774205', u'fidalgo')],
 [0, 0, (u'Q445162', u'Evangelist')],
 [0, 0, (u'Q6189527', u'Jewelers Building')],
 [0, 0, (u'Q852389', u'beekeeper')],
 [0, 0, (u'Q5024685', u'calypsonian')],
 [0, 0, (u'Q160131', u'baker')],
 [0, 0, (u'Q1472392', u'Perpetual count')],
 [0, 0, (u'Q7445933', u'Seer')],
 [0, 0, (u'Q5157521', u'Computer analyst')],
 [0, 0, (u'Q3570351', u'dayan')],
 [0, 0, (u'Q6877151', u'Miss Nepal 2011')],
 [0, 0, (u'Q2049864', u'concubine')],
 [0, 0, (u'Q193196', u'University College London')],
 [0, 0, (u'Q9284559', u'gofer')],
 [0, 0, (u'Q39818', u'mime')],
 [0, 0, (u'Q3242291', u'Chief Constable')],
 [0, 0, (u'Q2918463', u'engineering technician')],
 [0, 0, (u'Q1385972', 'null')],
 [0, 0, (u'Q5756796', u'High Sheriff of Gloucestershire')],
 [0, 0, (u'Q808266', u'bartender')],
 [0, 0, (u'Q188449', u'neurosurgery')],
 [0, 0, (u'Q15576', u'University of South Australia')],
 [0, 0, (u'Q528145', u'linebacker')],
 [0, 0, (u'Q948692', u'manga gensakusha')],
 [0, 0, (u'Q11153429', 'null')],
 [0, 0, (u'Q1420140', u'Software maintainer')],
 [0, 0, (u'Q181066', u'shorthand')],
 [0, 0, (u'Q723682', u'dean')],
 [0, 0, (u'Q12185286', u'glassblowing')],
 [0, 0, (u'Q20497566', 'null')],
 [0, 0, (u'Q779280', u'oblate')],
 [0, 0, (u'Q1436517', u'Chief mate')],
 [0, 0, (u'Q223575', u'drawer')],
 [0, 0, (u'Q7972509', u'Washington University School of Medicine')],
 [0, 0, (u'Q17145081', u'museologist')],
 [0, 0, (u'Q978854', u'Grandmaster')],
 [0, 0, (u'Q133036', u'lithography')],
 [0, 0, (u'Q12304133', u'Monaco')],
 [0, 0, (u'Q696819', u'herald')],
 [0, 0, (u'Q1766113', u'lighthouse keeper')],
 [0, 0, (u'Q648976', u'scholarch')],
 [0, 0, (u'Q3480319', 'null')],
 [0, 0, (u'Q14886050', u'terrorist')],
 [0, 0, (u'Q5010306', u'CEO')],
 [0, 0, (u'Q1209185', u'Humanist')],
 [0, 0, (u'Q2936908', u'Canut')],
 [0, 0, (u'Q10640', u'Football Manager')],
 [0, 0, (u'Q4116214', u'accounting')],
 [0, 0, (u'Q4068117', u'Apostolic Nuncio to Venezuela')],
 [0, 0, (u'Q1069840', u'Chenard-Walcker')],
 [0, 0, (u'Q10511368', 'null')],
 [0, 0, (u'Q17154566', u'Porn Art Movement')],
 [0, 0, (u'Q1104185', u'coaching')],
 [0, 0, (u'Q4171318', 'null')],
 [0, 0, (u'Q9867473', 'null')],
 [0, 0, (u'Q2994380', 'null')],
 [0, 0, (u'Q188584', u'phrenology')],
 [0, 0, (u'Q77604', u'radiology')],
 [0, 0, (u'Q11981649', 'null')],
 [0, 0, (u'Q474471', u'Ampelography')],
 [0, 0, (u'Q15783', u'skateboard')],
 [0, 0, (u'Q390409', u'gridiron')],
 [0, 0, (u'Q2474217', u'Oola')],
 [0, 0, (u'Q19346963', 'null')],
 [0, 0, (u'Q18810049', u'cosplayer')],
 [0, 0, (u'Q11771944', u'civil service')],
 [0, 0, (u'Q1068947', u'Chief Physician')],
 [0, 0, (u'Q2115479', u'Pr\xfcfingenieur f\xfcr Bautechnik')],
 [0, 0, (u'Q17624048', u'brewer')],
 [0, 0, (u'Q2114844', 'null')],
 [0, 0, (u'Q749923', 'null')],
 [0, 0, (u'Q380075', 'null')],
 [0, 0, (u'Q942569', u'systems analyst')],
 [0, 0, (u'Q836904', u'brewer')],
 [0, 0, (u'Q223638', u'Guide book')],
 [0, 0, (u'Q5029420', u'Canada Research Chair')],
 [0, 0, (u'Q82723', u'geisha')],
 [0, 0, (u'Q2912782', u'Proconsul')],
 [0, 0, (u'Q19883144', u'oyster farmer')],
 [0, 0, (u'Q609016', u'Hofmeister')],
 [0, 0, (u'Q10498147', 'null')],
 [0, 0, (u'Q7239684', u'predikant')],
 [0, 0, (u'Q327401', u'German Resistance to Nazism')],
 [0, 0, (u'Q2922870', u'boxe')],
 [0, 0, (u'Q1062952', u'Model sheet')],
 [0, 0, (u'Q1481938', u'militancy')],
 [0, 0, (u'Q13553792', u'feng shui geomancer')],
 [0, 0, (u'Q141688', u'Anorthosis Famagusta FC')],
 [0, 0, (u'Q3991727', u'Tiratore')],
 [0, 0, (u'Q527628', u'Holography')],
 [0, 0, (u'Q27908', u'Music education')],
 [0, 0, (u'Q1520849', u'Bojnice Castle')],
 [0, 0, (u'Q18706712', u'ice cross downhiller')],
 [0, 0, (u'Q811338', 'null')],
 [0, 0, (u'Q7956506', u'WTXF-TV')],
 [0, 0, (u'Q139627', u'altar server')],
 [0, 0, (u'Q459090', u'Club Am\xe9rica')],
 [0, 0, (u'Q1326365', 'null')],
 [0, 0, (u'Q16330571', 'null')],
 [0, 0, (u'Q2284765', u'Cavalier')],
 [0, 0, (u'Q16614000', u'sex therapist')],
 [0, 0, (u'Q5212110', u'Damdami Taksal')],
 [0, 0, (u'Q130286', u'management consulting')],
 [0, 0, (u'Q289585', u'Ustad')],
 [0, 0, (u'Q17644686', u'feltmaker')],
 [0, 0, (u'Q1798619', u'Lipscomb University')],
 [0, 0, (u'Q3216038', u'Lady of the Bedchamber')],
 [0, 0, (u'Q1209862', u'Broadcaster')],
 [0, 0, (u'Q7143051', u'Pastoral farming')],
 [0, 0, (u'Q3442615', u'Roshi')],
 [0, 0, (u'Q811342', 'null')],
 [0, 0, (u'Q1520146', u'speditionskauffrau')],
 [0, 0, (u'Q806805', u'bank teller')],
 [0, 0, (u'Q1714329', u'Justiciar')],
 [0, 0, (u'Q778274', u'Angel investor')],
 [0, 0, (u'Q5640011', u'Miami-Dade County Public Schools')],
 [0, 0, (u'Q11944129', 'null')],
 [0, 0, (u'Q3310583', u'Celebrity chef')],
 [0, 0, (u'Q2632248', u'Akhoond')],
 [0, 0, (u'Q9286', u'Sculptor')],
 [0, 0, (u'Q1812049', 'null')],
 [0, 0, (u'Q296918', u'Artis')],
 [0, 0, (u'Q1516453', u'lieutenant governor')],
 [0, 0, (u'Q7876146', u'UWS')],
 [0, 0, (u'Q694116', u'miller')],
 [0, 0, (u'Q1275612', u'Miss Nepal')],
 [0, 0, (u'Q12313165', u'attorney-in-fact')],
 [0, 0, (u'Q239946', u'Ingen')],
 [0, 0, (u'Q376040', u'wakeboarding')],
 [0, 0, (u'Q6017640', 'null')],
 [0, 0, (u'Q1784753', u'r\xe9p\xe9titeur')],
 [0, 0, (u'Q2011889', u'Madam')],
 [0, 0, (u'Q12765', u'Deux-S\xe8vres')],
 [0, 0, (u'Q149013', 'null')],
 [0, 0, (u'Q1553123', u'Lector')],
 [0, 0, (u'Q1255041', u'Logothete')],
 [0, 0, (u'Q61982', u'daimyo')],
 [0, 0, (u'Q14930471', 'null')],
 [0, 0, (u'Q1657500', u'almoner')],
 [0, 0, (u'Q16883819', u'Steel worker')],
 [0, 0, (u'Q157195', u'waiting staff')],
 [0, 0, (u'Q7144827', u'Pathologist')],
 [0, 0, (u'Q93196', u'Bollywood')],
 [0, 0, (u'Q19801630', u'gendarme')],
 [0, 0, (u'Q20666152', u'yardmaster')],
 [0, 0, (u'Q836328', u'Welder')],
 [0, 0, (u'Q6942622', 'null')],
 [0, 0, (u'Q4995518', u'commandant')],
 [0, 0, (u'Q188942', u'mullah')],
 [0, 0, (u'Q1147709', u'fireman')],
 [0, 0, (u'Q933495', u'Demimonde')],
 [0, 0, (u'Q3076908', u'Jewish partisans')],
 [0, 0, (u'Q5909381', u'hostess')],
 [0, 0, (u'Q505092', u'Winzer')],
 [0, 0, (u'Q16744001', u'noble')],
 [0, 0, (u'Q794605', u'biblical studies')],
 [0, 0, (u'Q6534', u'French Revolution')],
 [0, 0, (u'Q3687335', u'State Council')],
 [0, 0, (u'Q7108', u'biotechnology')],
 [0, 0, (u'Q1238500', u'Domkustos')],
 [0, 0, (u'Q6050670', u'International Foundation for Electoral Systems')],
 [0, 0, (u'Q1644847', 'null')],
 [0, 0, (u'Q6934789', u'Multimedia artist')],
 [0, 0, (u'Q10501288', 'null')],
 [0, 0, (u'Q1255921', u'president')],
 [0, 0, (u'Q2715328', u'Uniformology')],
 [0, 0, (u'Q13423598', 'null')],
 [0, 0, (u'Q2673402', u'urban designer')],
 [0, 0, (u'Q5246676', u'Dean of the Chapel Royal')],
 [0, 0, (u'Q573375', u'Schreiber')],
 [0, 0, (u'Q1031332', u'precentor')],
 [0, 0, (u'Q1109454', u'Chief Justice of Hungary')],
 [0, 0, (u'Q511123', u'King of the Geats')],
 [0, 0, (u'Q816425', u'surveying')],
 [0, 0, (u'Q79288', u'Foreman')],
 [0, 0, (u'Q14939813', u'denpa-gaisha')],
 [0, 0, (u'Q495871', u'professor')],
 [0, 0, (u'Q3484354', u'Enlightenment in Western secular tradition')],
 [0, 0, (u'Q2956365', 'null')],
 [0, 0, (u'Q15839158', u'molecular geneticist')],
 [0, 0, (u'Q758914', 'null')],
 [0, 0, (u'Q18195617', u'literary')],
 [0, 0, (u'Q5104998', u'Chore')],
 [0, 0, (u'Q2534525', u'chairman of the executive board')],
 [0, 0, (u'Q19698265', u'fashion photographer')],
 [0, 0, (u'Q924433', u'Brodeur')],
 [0, 0, (u'Q1539595', u'Klepht')],
 [0, 0, (u'Q897395', u'Vorstand')],
 [0, 0, (u'Q4387496', 'null')],
 [0, 0, (u'Q3519259', u'count')],
 [0, 0, (u'Q841192', u'minstrel')],
 [0, 0, (u'Q1773393', u'Senate Syndic')],
 [0, 0, (u'Q406848', u'Runner')],
 [0, 0, (u'Q2540173', u'hotel manager')],
 [0, 0, (u'Q5146559', u'College Student Personnel')],
 [0, 0, (u'Q297621', u'Hauptmann')],