In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
%ls

apicache/                        flatten.py                      pywiki-test.py
data_label.py                    fow_id2label.json               Sandbox.ipynb
field_of_work-index.csv          occ_id2label.json               throttle.ctrl
flatten_field_of_work-index.csv  Occupation_Data_Analysis.ipynb  Untitled.ipynb
flatten_occupation-index.csv     occupation-index.csv
flatten-occupation.py            out.txt

In [4]:
occ = pd.read_csv('flatten_occupation-index.csv')
occ.head(2)

,Unnamed: 0,transgender female,intersex,fa'afafine,transgender,American football player,Gender fluid,sociologist,transgender male,female creature,male creature,woman,genderqueer,female,male,kathoey
0,Q4249459,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,Q12878771,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0