In [162]:
import pandas
from collections import defaultdict

In [3]:
pah = pandas.read_csv('enwiki_pah_misalignment.tsv',sep='\t')

In [4]:
pah.head()

   pageid  total_hits assessment_class pop_class         dissonance
0      12       49784               GA        GA               None
1      25      130034               FA        FA               None
2      39       17751                B         B               None
3     290      102993                B        FA      High positive
4     303       62333                B        GA  Moderate positive

In [28]:
pah.groupby('dissonance').head()

     pageid  total_hits assessment_class pop_class         dissonance
0        12       49784               GA        GA               None
1        25      130034               FA        FA               None
2        39       17751                B         B               None
3       290      102993                B        FA      High positive
4       303       62333                B        GA  Moderate positive
5       305       68077                C         A      High positive
6       307      235210               GA        FA      High positive
7       308      118481                B        FA      High positive
8       324      130784                B        FA      High positive
9       330         113             Stub      Stub               None
10      332        1184             Stub     Start  Moderate positive
11      336       37372                B        GA  Moderate positive
13      340        2106                C     Start  Moderate negative
14      344        2611            Start         C  Moderate positive
17      572       10438                B         B               None
20      584        5961            Start         C  Moderate positive
31      621       38624               FA        GA      High negative
48      663       20906               FA         B      High negative
51      666       17636                A         B      High negative
82      742          99            Start      Stub  Moderate negative
84      748        6067                B         C  Moderate negative
85      751       45852               FA        GA      High negative
98      785        9921               GA         B  Moderate negative
99      786        3888                B         C  Moderate negative
106     798        7672               FA         B      High negative

In [6]:
lines = open('english-qid-names2016-03-27.csv','r').readlines()

In [17]:
qidnames = {}
for line in lines:
    qid, ennamen = line.split(',', maxsplit=1)
    enname = ennamen.split('\n')[0]
    if enname:
        qidnames[qid]=enname

In [25]:
import json

In [27]:
json.dump(qidnames, open('qid_enpage.json','w'))

In [18]:
endf = pandas.DataFrame.from_dict(qidnames,orient='index')

In [22]:
len(endf)

1346812

Todo:
    + map gender-enwiki-page-id
    + dissoance class priors
    + posteriors by gender
    + posterior for no gender.

In [31]:
bigdf = pandas.read_csv('/media/notconfusing/9d9b45fc-55f7-428c-a228-1c4c4a1b728c/home/maximilianklein/snapshot_data/2016-01-03/gender-index-data-2016-01-03.csv')

In [54]:
gender_qid_df = bigdf[['qid','gender']]

In [55]:
def map_gender(x):
    if isinstance(x,float):
        return 'no gender'
    else:
        gen = x.split('|')[0]
        if gen == 'Q6581072':
            return 'female'
        elif gen == 'Q6581097':
            return 'male'
        else:
            return 'nonbin'
gender_qid_df['gender'] = gender_qid_df['gender'].apply(map_gender)

/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [59]:
gender_qid_df

               qid     gender                   enname
0              Q23       male        George Washington
1              Q42       male            Douglas Adams
2             Q207       male           George W. Bush
3             Q297       male          Diego Velázquez
4             Q326       male  Eduardo Frei Ruiz-Tagle
5             Q368       male         Augusto Pinochet
6             Q377       male             Yanka Kupala
7             Q475       male    Eduardo Frei Montalva
8             Q501       male       Charles Baudelaire
9             Q530       male         Ingemar Stenmark
10            Q555     female            Rachel Maddow
11            Q619       male      Nicolaus Copernicus
12            Q633       male               Neil Young
13            Q635     female                Cleopatra
14            Q747       male         Pierre Corneille
15            Q815       male  Gabriel González Videla
16            Q849       male          François Villon
17            Q853       male         Andrei Tarkovsky
18            Q859       male                    Plato
19            Q873     female             Meryl Streep
20            Q905       male              Franz Kafka
21            Q909       male        Jorge Luis Borges
22            Q920       male               J. Bernlef
23            Q926       male           Roald Amundsen
24            Q937       male          Albert Einstein
25            Q946       male              Donald Tusk
26            Q997       male          Andrei Sakharov
27           Q1056       male              Italo Balbo
28           Q1058       male            Narendra Modi
29           Q1124       male             Bill Clinton
...            ...        ...                      ...
3036206  Q21856216       male                     None
3036207  Q21856218     female                     None
3036208  Q21856220       male                     None
3036209  Q21856230       male                     None
3036210  Q21856235       male                     None
3036211  Q21856262       male                     None
3036212  Q21856266     female                     None
3036213  Q21856269       male                     None
3036214  Q21856277       male                     None
3036215  Q21856281     female                     None
3036216  Q21856282       male                     None
3036217  Q21856285       male                     None
3036218  Q21856286     female                     None
3036219  Q21856289       male                     None
3036220  Q21856290       male                     None
3036221  Q21856292     female                     None
3036222  Q21856299       male                     None
3036223  Q21856300       male                     None
3036224  Q21856420     female                     None
3036225  Q21856453  no gender                     None
3036226  Q21856455  no gender                     None
3036227  Q21856462  no gender                     None
3036228  Q21856594       male                     None
3036229  Q21856604     female                     None
3036230  Q21856657       male                     None
3036231  Q21856682     nonbin                     None
3036232  Q21856708     female                     None
3036233  Q21856749       male                     None
3036234  Q21856759       male                     None
3036235  Q21856771       male                     None

[3036236 rows x 3 columns]

In [58]:
def qid2enname(x):
    try:
        return qidnames[x]
    except KeyError:
        return None
gender_qid_df['enname'] = gender_qid_df['qid'].apply(qid2enname)

/usr/local/lib/python3.4/dist-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [67]:
enname_id = pandas.read_csv('/home/notconfusing/workspace/wikidumpparse/wikidump/mediawiki-utilities/enname_id.txt',sep='\t',names=['enname','pageid'])

In [69]:
gender_page_id = pandas.merge(gender_qid_df, enname_id, how='inner',on='enname')

In [156]:
pah_gender = pandas.merge(pah, gender_page_id, how='left', on='pageid')

In [157]:
len(pah), len(gender_page_id), len(pah_gender)

(3566226, 1135655, 3566226)

In [75]:
pah_gender.to_csv('pah_gender.csv')

In [77]:
!gzip -k pah_gender.csv

In [79]:
!du -h pah_gender.csv.gz

24M	pah_gender.csv.gz

Rel risk. P(gender|misaligned)/P(gender)

What proportion of the misaligned dataset is about women?

For each gender, what proportion of the each misalignment group do the represent.

In [172]:
pah_gender['gender'] = pah_gender['gender'].fillna('nonbio')

In [173]:
SE = pah_gender[(pah_gender['dissonance'] == 'Moderate negative') | (pah_gender['dissonance'] == 'High negative')]
NI = pah_gender[(pah_gender['dissonance'] == 'Moderate positive') | (pah_gender['dissonance'] == 'High positive')]
rel_risk = defaultdict(dict)
for risk, risk_name in [(SE,'SE'), (NI,'NI')]:
    for gender in ['female','male','nonbin','nonbio']:
        gen_mis = len(risk[risk['gender'] == gender])
        p_gen_mis = gen_mis/len(risk)               #p(gender|misalignment)
        p_gen = len(pah_gender[pah_gender['gender'] == gender]) / len(pah_gender)   #p(gender)
        print(p_gen_mis, p_gen)
        rel_risk[gender][risk_name] = p_gen_mis/p_gen#rel sirk

0.044507631065275194 0.04304157952973255
0.27188571077263574 0.23647603937607992
1.8443662296543352e-05 3.6733510439327174e-05
0.6834114627361173 0.72027628086386
0.0560191847918616 0.04304157952973255
0.20317777218350697 0.23647603937607992
9.749552902965755e-05 3.6733510439327174e-05
0.7406051416522728 0.72027628086386

In [175]:
rel_risk_df = pandas.DataFrame.from_dict(rel_risk,orient="index")

In [180]:
print(rel_risk_df.to_latex(float_format=lambda n:'%.2f' %n))

\begin{tabular}{lrr}
\toprule
{} &   NI &   SE \\
\midrule
female & 1.30 & 1.03 \\
male   & 0.86 & 1.15 \\
nonbin & 2.65 & 0.50 \\
nonbio & 1.03 & 0.95 \\
\bottomrule
\end{tabular}

In [124]:
def calc_prob(df):
    probs = {'%size':len(df)/len(pah_gender)}
    for dissonance in ['High positive', 'Moderate positive', 'None', 'Moderate negative', 'High negative']:
        tot_dis = len(df[df['dissonance'] == dissonance])
        tot_page = len(df)
        probs[dissonance] = tot_dis / tot_page
    return probs

In [125]:
priors = calc_prob(pah)

In [127]:
probs = {}
for group in bygender.groups:
    probs[group] = calc_prob(pah_gender[pah_gender['gender']==group])

In [128]:
probs['priors'] = priors

In [129]:
probs_df = pandas.DataFrame.from_dict(probs, orient='index')

In [130]:
probs_df

,High negative,Moderate positive,High positive,Moderate negative,None,%size
female,0.026398,0.196272,0.054529,0.162258,0.560542,0.153872
male,0.030039,0.144785,0.020781,0.179722,0.624673,0.845391
no gender,0.021523,0.105960,0.008278,0.168874,0.695364,0.000605
nonbin,0.038168,0.343511,0.167939,0.053435,0.396947,0.000131
priors,0.030688,0.166800,0.025900,0.151754,0.624858,3.574956

In [132]:
probs_df['rel risk NI'] = ( probs_df['Moderate positive'] + probs_df['High positive'] ) / probs_df['%size']
probs_df['rel risk SE'] = ( probs_df['Moderate negative'] + probs_df['High negative'] ) / probs_df['%size']

In [133]:
probs_df

,High negative,Moderate positive,High positive,Moderate negative,None,%size,rel risk NI,rel risk SE
female,0.026398,0.196272,0.054529,0.162258,0.560542,0.153872,1.629937,1.226062
male,0.030039,0.144785,0.020781,0.179722,0.624673,0.845391,0.195845,0.248123
no gender,0.021523,0.105960,0.008278,0.168874,0.695364,0.000605,188.674570,314.457617
nonbin,0.038168,0.343511,0.167939,0.053435,0.396947,0.000131,3894.667327,697.552357
priors,0.030688,0.166800,0.025900,0.151754,0.624858,3.574956,0.053903,0.051033